/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* fonts */

/* scroll */
::-webkit-scrollbar-thumb {
    background-color: var(--colorido);
}
    
::-webkit-scrollbar {
    width: 6px;
    background-color: var(--corFundo);
}
/* scroll */

/* global */  
* {
    border: none;
    box-shadow: none;
    box-sizing: border-box;
    font-style: normal;
    font-family: 'Poppins';
    margin: 0;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
    letter-spacing: 0.5px;
    resize: none;
    outline: none;
    border: 0;
    color: var(--corTexto);
    scroll-behavior: smooth;
}
  
html, body {
    height: 100%;
    width: 100%;
}
/* global */

/* root */
:root {
    --colorido : #0066ff;
    --corFundo : #111;
    --corTexto : #fff;
}
/* root */

/* main */
main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: var(--corFundo);
}
/* main */

/* form */
form {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    height: 85%;
    width: 38%;
    padding: 5px 0;
    background-color: #fff;
    border: 3px solid rgb(160, 160, 160);
    border-radius: 5px;
}

form * {
    color: #111;
}

form h1 {
    font-size: 1.5rem;
}

form ul li {
    font-size: 0.9rem;
    font-weight: 500;
}

form button {
    background-color: var(--colorido);
    font-size: 1.1rem;
    font-weight: 600;
    color: #fff;
    padding: 7px 0;
    width: 75%;
    border-radius: 4px;
}

form button:hover {
    cursor: pointer;
    filter: brightness(70%);
}

.form-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: auto;
}

.form-box label {
    width: 70%;
    font-size: 0.8rem;
    font-weight: 600;
}

.form-box input {
    font-size: 1rem;
    font-weight: 600;
    padding: 5px;
    width: 75%;
    border: 1px solid rgb(175, 175, 175);
    border-radius: 4px;
}

.form-box input:focus {
    border: 1px solid rgb(100, 123, 172);
}

.form-box input::placeholder {
    font-size: 0.85rem;
    font-weight: 500;
    color: rgb(175, 175, 175);
}

.form-box p {
    font-size: 0.8rem;
    font-weight: 700;
    color: #ff0000;
    width: 70%;
}
/* form */

/* responsivo */
@media screen and (max-width: 1000px) {
    body form {
      height: 70%;
      width: 90%;
    }
  }
/* responsivo */